body {
background: black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0 ;

}


nav{
display: flex;
padding: 0;
align-items: center;
 


}


.menu {
margin-top: 13px;
margin-left: 10px;
}


.search {
 border: 2px solid #27253b;
 display: inline-flex;
 height: 50px;
 padding: 12px;
 gap: 20px;
 background: #27253b;
 width: 150%;

}
::placeholder{
  
  transform: skew(20deg);
}

input[type]{
  display: flex;
  margin-top: 3px;
 height: 16px;
 width: 228px;
 margin-top: 10PX;
 -webkit-transform: skew(90deg);
 -moz-transform: skew(90deg);
-o-transform: skew(90deg);
 transform: skew(-20deg); 
 margin-left: 25px;
padding: 6px;
 border: 1px solid  #525050;
 background:#12121f;
 color: #8D8D8D;
font-size: 13px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-style: inherit;
}



.icon1{
    margin-left: 3px;
   
}

.search-icon{
    height: 15px;
    width: 18px;
    position: relative;
    right: 50px;
    top: 12px;
     -webkit-transform: skew(90deg);
     -moz-transform: skew(90deg);
     -o-transform: skew(90deg);
     transform: skew(-20deg); 
    border: 2px solid  #525050;
    white-space: nowrap;
    color: #8D8D8D;
    padding: 3px;
    background: #525050; 
    border-radius: 2px;
}



.logo-img{
  display: flex;
  align-items: center;
  margin-left: 34vh;

}

.nav-icons{
  margin-left: 54vh;
  display: flex;
  align-items: center;
  gap: 13px;
}

.nav-text{
  white-space: nowrap;
  font-size: 12px;
  margin-left: 1px;
  margin-top: 20px;
  color: #8D8D8D;
  transform: skew(2deg);
  letter-spacing: normal;
  }
  

.nav-img{
 border: 2PX solid #525050; 
 background: #525050;

  
}



.img{
    border-radius: 20px;
margin-right: 3px;
}

/*  [;] */

.header-gap{
    border: 1px solid #12121f;
  
}


.header-items{
  display: flex;
  background: #27253b;
  margin-top: 10px;
  width: 100%;
  height: 62px;
font-family: monospace;


}


.home{
    -moz-transform: skew(90deg);
    -o-transform: skew(90deg);
    transform: skew(-20deg);  
    border: 1px solid #12121f;
   padding: 12px;
   width: 90px;
   height: 12px;
   font-size: 12px;  
   color: #525050;
   text-align: center;
   border-left: 8px solid  #525050;
  background: #12121f;
  
}



ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap: 7px;
    margin-left: 40px;
    justify-content: space-between;
    font-size: 13px;

}

.tags{
    white-space: nowrap;
     -o-transform:  skew(90deg);
      -moz-transform: skew(90deg);
    transform: skew(-20deg);  
    border: 1px solid #12121f;
   padding: 12px;
   width: 116px;
   height: 13px;
   color: #525050;
   text-align: center;
   border-left: 8px solid  #525050;
  background: #12121f; 

}


h3{
 margin: 0 auto;
transform: skew(20deg);  
font-size: 13px;
}

.tag{
  white-space: nowrap;
    -moz-transform: skew(90deg);
    -o-transform: skew(90deg);
    transform: skew(-20deg);  
    border: 1px solid #12121f;
   padding: 12px;
   width: 126px;
   height: 14px;
   color: white;
   text-align: center;
   border-left: 8px solid purple;
  background: #12121f;
}


.hero{
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-size: 12px;
  margin-left: 300px;
  padding-top: 45px;
  height: 40px;
  color: #525050;
 background:#12121f ;
 
}

.hero-section{
  background-color: #12121f;
padding: 15px;
}

.hero-list{
 margin-bottom: 8px;

}


.hero-li{
 border-bottom: 3px solid purple;
 height: 20px;
 width: 75px;
color: white;
padding-left: 6px;
margin-bottom: 12px;

}


.hero-search{
  margin-left: 100vh;
display: flex;
margin-top: -3.3em;
padding-left: 16px;
width:400px ;

}


.hero-search::placeholder{
  transform: skew(2odeg);
}



 .fasearch{
  border: 2px solid  #525050;
   position: relative;
   width: 10px;
   height: 17px;
   right: 28px;
   top: 12px;
   padding: 5px;
   -webkit-transform: skew(90deg);
   -moz-transform: skew(90deg);
   -o-transform: skew(90deg);
   transform: skew(-20deg);
   height: 11px;
   border-radius: 2px;
   background:  #525050;

}


.sales-update{
  border:  2px solid#27253b  ;
  height: 900px;
  width: 350px;
 background: #27253b;
 display: block;
 margin-right: 0;

}



.card{
 display: flex;
   margin-top: 8px;
   font-family: sans-serif;
   padding: 5px;
  
 }
 

.profile-img{
  display: block;
  margin-left: 119px;
  border-radius: 100px;
  padding: 10px;
 margin-top: 20px;
}

.title{
margin-left: 119px;
color: white;
font-size: 12px;
font-weight: 700;
}

.profile-icon{
  margin-left: 7px;
}


.location{
  display: flex;
justify-content: center;
color: #8D8D8D;
font-size: 11px;
gap:9px;
}


.one{
  transform: skew(1deg);
  text-align: center;
  padding: 10px;
  border: 2px solid #27253b;
color: #525050;;
width: 230px;
height: 13px;
background-color:#3c3c53;
margin-top: 20px;
font-weight: 800;
}

.track-sales{
  display:inline-flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #8D8D8D;
  font-size: 13px;
}


.sales{
  border: 2px solid #3c3c53;
  padding: 5px;
  width: 120px;
  background:#3c3c53;
  margin-left: 40px;
  margin-top: 20px;
 
}

.product{
margin-top: 27px;
font-size: 13px;
margin-left: 10px;
white-space: nowrap;

}


.line{
  border-bottom: 1px solid #8D8D8D;
  width: 200px;
padding: 30px;
margin-left: 30px;
padding-bottom: 1px;
}





.btn{
display: flex;
width: 120px;
height: 28px;
margin-left: 70px;
justify-content: center;
background: rgb(190, 60, 190);
transform: skew(-30deg);
border: 1px solid white;
text-align: center;
margin-top: 20px;


}


h5{
 color: white;
margin-top: 10px;
transform: skew(30deg);
text-align: center;
font-family: monospace;
}

.update-two{
  border:  2px solid black;
  height: 300px;
  width: 100%;
  background:black;

 }


.border{
  border: 2px solid #27253b;
  width: 995px;
  height: 65px;
  margin-left: 22px;
  margin-top: 10px;
  background: #27253b;
  display: flex;
  padding: 2px;
  
 }
 
 
.arrow{
  position: absolute;
  right: 153.3vh;
  top: 41.3vh;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid darkorange;
  transform: rotate(225deg);
}

 
.image{
 margin-left: 19px;
border-radius: 100px;
  
}


.info{
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  color:#8D8D8D;
  font-size: 11px;
  white-space: nowrap;
 
  
}

.message-icon{
  margin-left: 29px;
}

.email{
  margin-left: 30px;
  padding-right: 30px;
}

.name{
  color: white;
  margin-right: 40px;
  font-size: 12px;

}

.map{
 margin-right: 1px;
}


hr{
  position: relative;
  height: 30px;
  bottom: 10px; 
border:  1px solid #525050;
}



.line-two{
 margin-right: 5px;
}


 .phone{
  margin-left: 20px;
 }

.message{
  border: 2px solid white;
  background: #525050;
  height: 10px;
  width: 27px;
  padding: 5px;
 display: flex;
 justify-content: center;
 transform: skew(-20deg);
margin-top: -5px;
margin-left: 40px;

}



.block{
height: 25px;
width: 113px;
font-size: 11px;
background: rgb(190, 60, 190) ;
transform: skew(-20deg);
border-color: rgb(226, 101, 226);
color: white;
margin-top: -7px;
border: 1px solid;
text-align: center;
}


.arrow-left{
margin-top: -5px;
}




.profile-two{
  display: flex;
margin-block-start: -15px;
/*border: 2px solid black;
border-left-color: white;
margin-left: 10px;
height: 250px;
 */
}


.two{
  border: 1px solid black;
  border-left-color: #8D8D8D;
  margin-left: 25px;
  margin-top: 18px;
  height: 220px;
}

.bar{
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 27px;
}


.rumps{
color: white;
font-size: 12px;
margin-left: 10px;
height: 30px;
width: 200px;
display: flex;
justify-content: center;
margin-top: 20px;
border: white;
border: 2px solid #27253b;
border-right: 4px solid purple;
background: #27253b;
margin-top: 30px;
}


.link{
  color: #8D8D8D;
font-size: 12px;
margin-left: 5px;
height: 30px;
width: 220px;
display: flex;
justify-content: center;
border: 1px solid #6d6363;
background: black;
margin-top: 30px;
letter-spacing: 2px;
padding: 2px;
}


.rates{
 display: flex;
margin-bottom: 100px;

}

.amount, .price, .price-two{
  color: #8D8D8D;
 margin-left: 2px;
 text-align: center;
 width: 110px;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid #3c3c53;
  background: black;
  height: 30px;
  font-size: 12px;
  padding: 2px; 
}


.profile-three{
  display: flex;
margin-block-start: -100px;
}


.profile-four{
 display: flex;
 margin-block-start: -95px;
}


.section{
 margin-bottom: 20px;
}



.rump{
  color: white;
font-size: 12px;
margin-left: 10px;
height: 30px;
width: 200px;
display: flex;
justify-content: center;
margin-top: 20px;
border: white;
border: 2px solid #27253b;
border-right: 4px solid #525050;
background: #27253b;
margin-top: 30px;
 }



.section-tags{
  display: flex;
  margin: 10px;
  background:#0c0c13;
  color: #8D8D8D;
  font-size: 11px;
  padding: 10px;
  list-style-type: none;
  height: 50px;
 width: 989px;
 margin-bottom: 30px;



}

.section-title{
 display: flex;
 margin-top: 5px;
margin-inline-start: -33px;
 font-weight: bold;
 color: white;
 font-size: 12px;
 margin-left: 10px;
}


.section-address{
  margin-left: 36px;
  font-size: 11px;
  margin-top: 5px;
}


.line-a{

  margin-top: 3px;
  margin-left: 30px;
}


.section-img{
margin-inline-end: 30px;
display: flex;
margin-left: -40px;
margin-bottom: 20px;
margin-block-start: -30px;
border-radius: 50%;
}


.section-email{
font-size: 11px;
margin-top: 5x;
margin-left: 30px;
}

.line-b{
margin-left: 27px;
margin-top: 5px;
}


.section-number{
  display: flex;
  font-size: 11px;
  margin-left: 20px;
  margin-top: 22px;
 
}


.arrow-right{
  margin-top: 20px;
  margin-left: 210px;
}

.section-message{
  display: flex;
  margin-left: 37px;
  margin-top: 22px;
   
}






























@media only screen and (max-width: 600px)  {
.body{
    display: none;
}
    .menu{
       margin-left: 30px;
       padding: 30px;
    }
    .search {
        display: none;
        border: none;
        padding: 20px;
        gap: 10px;
    }

    input[type]{
     display: none; 
    }
}